@model BusinessEntities.BookingViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BookingViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookingId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartBookingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartBookingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndBookingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndBookingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MechanicId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MechanicId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
